/*THIS FILE CAN BE DELETED WHEN THE HOME PAGE HAS BEEN DONE*/

div {
  display: flex;
  flex-direction: column;
}
.forms {
  flex-direction: row;
}
.forms input {
  width: 200px;
  height: 20px;
}

div .result-details-container {
  flex-direction: row;
}

div .result-details-container .fetch-result {
  flex-direction: column;
  align-items: right;
}

div .result-details-container .details {
  flex-direction: column;
  padding: 10px;
  justify-content: right;
  align-items: center;
}
